<div class="buscadores">
  <nav class="Abecedario">
    <a (click)="cambiaTitulo('')" [routerLink]="[]">Todas</a>
    <a (click)="cambiaTitulo('A')" [routerLink]="[]">A</a>
    <a (click)="cambiaTitulo('B')" [routerLink]="[]">B</a>
    <a (click)="cambiaTitulo('C')" [routerLink]="[]">C</a>
    <a (click)="cambiaTitulo('D')" [routerLink]="[]">D</a>
    <a (click)="cambiaTitulo('E')" [routerLink]="[]">E</a>
    <a (click)="cambiaTitulo('F')" [routerLink]="[]">F</a>
    <a (click)="cambiaTitulo('G')" [routerLink]="[]">G</a>
    <a (click)="cambiaTitulo('H')" [routerLink]="[]">H</a>
    <a (click)="cambiaTitulo('I')" [routerLink]="[]">I</a>
    <a (click)="cambiaTitulo('J')" [routerLink]="[]">J</a>
    <a (click)="cambiaTitulo('K')" [routerLink]="[]">K</a>
    <a (click)="cambiaTitulo('L')" [routerLink]="[]">L</a>
    <a (click)="cambiaTitulo('M')" [routerLink]="[]">M</a>
    <a (click)="cambiaTitulo('N')" [routerLink]="[]">N</a>
    <a (click)="cambiaTitulo('O')" [routerLink]="[]">O</a>
    <a (click)="cambiaTitulo('P')" [routerLink]="[]">P</a>
    <a (click)="cambiaTitulo('Q')" [routerLink]="[]">Q</a>
    <a (click)="cambiaTitulo('R')" [routerLink]="[]">R</a>
    <a (click)="cambiaTitulo('S')" [routerLink]="[]">S</a>
    <a (click)="cambiaTitulo('T')" [routerLink]="[]">T</a>
    <a (click)="cambiaTitulo('U')" [routerLink]="[]">U</a>
    <a (click)="cambiaTitulo('V')" [routerLink]="[]">V</a>
    <a (click)="cambiaTitulo('W')" [routerLink]="[]">W</a>
    <a (click)="cambiaTitulo('X')" [routerLink]="[]">X</a>
    <a (click)="cambiaTitulo('Y')" [routerLink]="[]">Y</a>
    <a (click)="cambiaTitulo('Z')" [routerLink]="[]">Z</a>
    <a (click)="cambiaTitulo('0')" [routerLink]="[]">0-9</a>
  </nav>
  
  <nav class="buscador">
    <form>
      <input type="search" id="barraBusqueda" name="busqueda">
      <input type="button" id="buttonSearch" value="Buscar" (click)="buscador()">
    </form>
  </nav>
</div>

<div id = "series">
  <div *ngFor="let serie of series">
    <div class="cuadroSerie" *ngIf="serie.inicial === titulo || serie.titulo === titulo || titulo === ''">
      <label style="cursor: pointer;" (click)="cambiaVisibilidad(serie.titulo)">{{serie.titulo}}</label>
      <input type="button" id="{{serie.titulo}}-agregar" class="button" value="Agregar serie" (click)="agregaSerie(serie.id)">
      <br>
      <div id="{{serie.titulo}}" style="display: none;">
        <p>{{serie.sinopsis}}</p>
        <p>Creadores: <span *ngFor="let creador of serie.creadores">{{creador.nombre + " " + creador.apellido + ", "}}</span></p>
        <p>Actores: <span *ngFor="let actor of serie.actores">{{actor.nombre + " " + actor.apellido + ", "}}</span></p>
        <input type="button" id="{{serie.titulo}}-cerrar" value="Cerrar" (click)="cambiaVisibilidad(serie.titulo)">
        <br>
      </div>
    </div>
  </div>
</div>
