.Abecedario {
  margin-top: 30px;
  position: relative;
  width: 70%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-flow: wrap row;
  padding: .5rem;
  background: white;
}

.Abecedario a {
  display: flex;
  justify-content: center;
  padding: .5em;
  border-radius: 8px;
  font-size: 1.2em;
  line-height: 1;
  font-weight: 500;
  text-decoration: none;
  color: darkgray;
}

.Abecedario a:hover {
  background: #ddd;
  color: #444;
}

#barraBusqueda{
  position:relative;
  margin-bottom: 1.5rem;
}

.buscador{
  margin-left: 125px;
  margin-top: 45px;
}
#series{
  margin-left: 100px;
  margin-top: 40px;
}

.buscadores{
  display: flex;
}

.button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-image: -moz-linear-gradient(center bottom, rgb(149, 177, 255) 16%, rgb(77, 128, 248) 79%);
  background-image: linear-gradient(to top, rgb(149, 177, 255) 16%, rgb(77, 128, 248) 79%); 
  padding: 3px;
  border: 1px solid #000;
  color: black;
  text-decoration: none;
  margin-left: 20px;
  cursor: pointer;
}

.cuadroSerie{
  border: 1px solid black;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 80%;
  margin-bottom: 20px;
}