.header {
  background-color: #92f9a5;
  overflow: hidden;
  margin-bottom: 50px;
  border-radius: 25%;
}
  
#logo{
  left: 100px;
  position: relative;
  display: inline;
  padding-top:20px;
  padding-bottom:20px;
  float:left;
  margin: 5px;
  display:block;
}
  
#perfil{
  position: relative;
  display: inline;
  float: right;
  top:35px;
  right: 100px;
  display:block;
}

.header h1 {
  position: relative;
  display: inline;
  color: #000000;
  width: 200px;
  top:50px;
  left: 450px;
  font-size: 32px;
  padding-top: 25px;
  padding-left:25px;
}

.opciones {
  padding-right: 50px;
  padding-left: 20px;
  text-align:center;
}

#opcion{
  background-color: #92f9a5;
  padding: 1%;
  text-decoration:none;
  margin:20px;
  border-radius: 50% 50% 50% 50%;
  color:#000000;
}