<div class="contenedor">
  <table class="contenedor">
    <tbody>
      <nav class="series">
        <tr class="encabezado"><b>Series Pendientes</b></tr>
        <div class="bordes">
          <tr *ngFor="let serie of usuario.pendientes">
            <!-- En cada td se debe añadir: routerLink="/verSerie/{{serie.id}}", para ir al componente de ver serie-->
            <td><a>{{ serie.titulo }}</a></td>
          </tr>
        </div>
        <tr class="separador"></tr>
        <tr class="encabezado"><b>Series Empezadas</b></tr>
        <div class="bordes">
          <tr *ngFor="let serie of usuario.empezadas">
            <!-- En cada td se debe añadir: routerLink="/verSerie/{{serie.id}}", para ir al componente de ver serie-->
            <td><a>{{ serie.titulo }}</a></td>
          </tr>
        </div>
        <tr class="separador"></tr>
        <tr class="encabezado"><b>Series Finalizadas</b></tr>
        <div class="bordes">
          <tr *ngFor="let serie of usuario.terminadas">
            <!-- En cada td se debe añadir: routerLink="/verSerie/{{serie.id}}", para ir al componente de ver serie-->
            <td><a>{{ serie.titulo }}</a></td>
          </tr>
        </div>
      </nav>
    </tbody>
  </table>
</div>
