td{
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

a{
    text-decoration:none;
    color: #000000;
}
  
.bordes{
  background-color: #92f9a5;
  border: 1px solid black;
  width: 100%;
  border-radius: 10px;
}
  
.series{
  text-align: center;
}
  
table{
  margin-top: 3%;
  margin-left: 5%
}
  
.contenedor{
  width: 95%;
}